body {
  background-color: #E6E6FA;
}
h1 {
  font-family: 'Bungee', cursive;
}
h2 {
  font-family: 'Oswald', sans-serif;
}
h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  font-family: 'Fira Sans', sans-serif;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: slategray;
  color: white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
